<h1>Create a new landmark!</h1>

<form method="post" action="/landmarks">
	
	<label>Landmark Name:</label>
	<input type="text" name="landmark[name]" id="landmark_name">
	<br> <br>
	Year Completed: <input type="text" name="landmark[year_completed]" id="landmark_year_completed">

	<br><br>

	<% if !!@figures %>

		<label>Pick or Create a new figure:</label><br><br>
		
		<% @figures.each do |figure| %> 
			<input type="checkbox" name="figure_id" id="figure_<%=figure.id%>" value="<%=figure.id%>"><%=figure.name%></input>
		<% end %>
	<% end %>	

	<br><br>
	
	New Figure Name: <input type="text" name="figure[name]" id=new_figure>

	<br><br>


	<% if !!@titles %>

		<label>Pick or Create a new title:</label><br><br>
			<% @titles.each do |title| %> 
				<input type="checkbox" name="figure[title_ids][]" id="title_<%=title.id%>" value="<%=title.id%>"><%=title.name%></input>
			<% end %>
		<% end %>
			
	<br><br>

	New Title Name: <input type="text" name='title[name]' id="new_title">

	<br><br>


	<input type="submit" name="submit" value="Create New Landmark">

</form



